.frame {
    background-color: #161a1d;
    overflow: hidden;
    width: 100%;
    min-width: 1440px;
    min-height: 2670px;
    position: relative;
  }
  
  .frame .autor {
    position: absolute;
    top: 478px;
    left: 434px;
    width: 574px;
    height: 77px;
    display: flex;
  }
  
  .frame .text-wrapper {
    width: 572px;
    height: 77px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 194px;
    display: flex;
    background-color: #0b090a;
  }
  
  .frame .categorias {
    margin-top: 72px;
    width: 643px;
    height: 50px;
    margin-left: 369px;
    display: flex;
    gap: 69px;
  }
  
  .frame .div {
    width: 201px;
    height: 48px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-2 {
    margin-top: 2px;
    width: 152px;
    height: 48px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-3 {
    margin-top: 1px;
    width: 146px;
    height: 48px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .projetos {
    position: absolute;
    top: 1618px;
    left: -1px;
    width: 1443px;
    height: 524px;
  }
  
  .frame .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 1441px;
    height: 524px;
    background-color: #660708;
  }
  
  .frame .gamelist {
    position: absolute;
    top: 74px;
    left: 32px;
    width: 448px;
    height: 342px;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 446px;
    height: 342px;
    background-color: #370617;
  }
  
  .frame .text-wrapper-4 {
    position: absolute;
    top: 255px;
    left: 76px;
    width: 293px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .image {
    width: 427px;
    height: 241px;
    aspect-ratio: 1.77;
    position: absolute;
    top: 6px;
    left: 10px;
  }
  
  .frame .asas-de-aguia {
    position: absolute;
    top: 74px;
    left: 498px;
    width: 448px;
    height: 342px;
  }
  
  .frame .asas-de-guia {
    position: absolute;
    top: 246px;
    left: 76px;
    width: 294px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .img {
    width: 427px;
    height: 241px;
    aspect-ratio: 1.78;
    object-fit: cover;
    position: absolute;
    top: 6px;
    left: 10px;
  }
  
  .frame .hq-market {
    position: absolute;
    top: 74px;
    left: 964px;
    width: 448px;
    height: 342px;
  }
  
  .frame .image-2 {
    width: 426px;
    height: 240px;
    aspect-ratio: 1.78;
    object-fit: cover;
    position: absolute;
    top: 6px;
    left: 10px;
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    top: 261px;
    left: 76px;
    width: 294px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-6 {
    position: absolute;
    top: 2px;
    left: 629px;
    width: 184px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .footer {
    position: absolute;
    top: 2217px;
    left: -1px;
    width: 1441px;
    height: 453px;
    display: flex;
    background-color: #0b090a;
  }
  
  .frame .contato {
    margin-top: 53.5px;
    width: 790px;
    height: 260.75px;
    margin-left: 307px;
    display: flex;
    flex-direction: column;
    gap: 59px;
  }
  
  .frame .text-wrapper-7 {
    margin-left: 219px;
    width: 349px;
    height: 86.25px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .formas-de-contato {
    width: 792px;
    height: 115.5px;
    display: flex;
    flex-direction: column;
    gap: 43.5px;
  }
  
  .frame .text-wrapper-8 {
    width: 788px;
    height: 36px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-9 {
    margin-left: 181px;
    width: 414px;
    height: 36px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .experiencias {
    position: absolute;
    top: 848px;
    left: 737px;
    width: 565px;
    height: 377px;
  }
  
  .frame .text-wrapper-10 {
    position: absolute;
    top: 0;
    left: 120px;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #068eef;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .p {
    position: absolute;
    top: 67px;
    left: 0;
    width: 561px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 29px;
  }
  
  .frame .text-wrapper-11 {
    position: absolute;
    top: 571px;
    left: 584px;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #068eef;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .possuo-anos-e {
    position: absolute;
    top: 656px;
    left: 306px;
    width: 828px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .span {
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
  }
  
  .frame .text-wrapper-12 {
    font-family: "Inria Serif-Bold", Helvetica;
    font-weight: 700;
  }
  
  .frame .habilidades {
    position: absolute;
    top: 848px;
    left: 142px;
    width: 573px;
    height: 382px;
  }
  
  .frame .ingl-s-avan-ado-flu {
    position: absolute;
    top: 62px;
    left: 0;
    width: 569px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .frame .text-wrapper-13 {
    position: absolute;
    top: 0;
    left: 125px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #068eef;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .formacoes {
    position: absolute;
    top: 1239px;
    left: 128px;
    width: 531px;
    height: 328px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .frame .text-wrapper-14 {
    margin-left: 149px;
    width: 277px;
    height: 72px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #068eef;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .ensino-m-dio {
    width: 525px;
    height: 116px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.48px;
    line-height: normal;
  }
  
  .frame .curso-de-pacote {
    width: 378px;
    height: 116px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.48px;
    line-height: normal;
  }
  
  .frame .atualmente {
    position: absolute;
    top: 1241px;
    left: 733px;
    width: 437px;
    height: 227px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .frame .text-wrapper-15 {
    margin-left: 137px;
    width: 296px;
    height: 72px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #068eef;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .sistemas-para {
    width: 353px;
    height: 145px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .mask-group {
    position: absolute;
    top: 212px;
    left: 587px;
    width: 266px;
    height: 266px;
  }
  